* {
    margin: 0;
    padding: 0;
}

#zoomBox {
    width: 1190px;
    height: 600px;
    background: pink;
}

#midArea img {
    border: none;
    display: block;
    width: 400px;
    height: 400px;
}

#zoom {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: yellow;
    opacity: .5;
    cursor: move;
}

#bigArea img {
    width: 600px;
    height: 600px;
    border: none;
    display: block;
}